@{
    ViewData["Title"] = "Página Perfil";
    Layout = null;

    var currentController = ViewContext.RouteData.Values["Controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["Action"]?.ToString();
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Perfil</title>
    <link rel="stylesheet" href="~/css/global.css">
    <link rel="stylesheet" href="~/css/perfil.css">
    <link rel="stylesheet" href="~/css/contador.css">
    <link rel="stylesheet" href="~/css/sidebar.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <!-- Navegação Lateral -->
    <nav class="sidebar">
        <div class="sidebar-header">
            <img src="~/assets/logo/logo.jpg" alt="Pesque & Fale" class="logo" width="100">

            <h2 class="site-title"></h2>
        </div>

        <div class="nav-menu">
            <a asp-controller="Home" asp-action="Home" class="nav-item @(currentAction == "Home" ? "active" : "")">
                <span class="material-symbols-outlined">home</span>
                <span class="nav-text">Página Inicial</span>
            </a>
            <a asp-controller="Home" asp-action="Pesquisar" class="nav-item @(currentAction == "Pesquisar" ? "active" : "")">
                <span class="material-symbols-outlined">search</span>
                <span class="nav-text">Pesquisa</span>
            </a>
            <a asp-controller="Home" asp-action="MelhoresLocais" class="nav-item @(currentAction == "MelhoresLocais" ? "active" : "")">
                <span class="material-symbols-outlined">location_on</span>
                <span class="nav-text">Melhores Locais</span>
            </a>
            <a asp-controller="Home" asp-action="Notificacao" class="nav-item @(currentAction == "Notificacao" ? "active" : "")">
                <span class="material-symbols-outlined">
                    notifications
                    <span class="badge" id="contador">3</span>
                </span>
                <span class="nav-text">Notificações</span>
            </a>
            <a asp-controller="Home" asp-action="Sobrenos" class="nav-item @(currentAction == "Sobrenos" ? "active" : "")">
                <span class="material-symbols-outlined">school</span>
                <span class="nav-text">Sobre nós</span>
            </a>
            <a asp-controller="Home" asp-action="Perfil" class="nav-item @(currentAction == "Perfil" ? "active" : "")">
                <span class="material-symbols-outlined">person</span>
                <span class="nav-text">Perfil</span>
            </a>
        </div>

        <div class="sidebar-footer">
            <div class="theme-toggle">
                <button id="theme-btn" class="theme-btn">
                    <span class="material-symbols-outlined">dark_mode</span>
                    <span class="nav-text">Modo Escuro</span>
                </button>
            </div>
        </div>
    </nav>
    <div class="column">
        <div class="container">
            <div class="perfil">
                <img src="https://preview.redd.it/on9y92ssh1mb1.jpg?auto=webp&s=a881b5e709139d5b233b52418169faab7d3c355b" alt="Foto de Danilo" class="foto-perfil">

                <div class="profile-stats">
                    <div class="stat-box">
                        <span class="number">10</span>
                        <span class="label">Publicações</span>
                    </div>
                    <div class="stat-box">
                        <span class="number">200</span>
                        <span class="label">Seguidores</span>
                    </div>
                    <div class="stat-box">
                        <span class="number">180</span>
                        <span class="label">Seguindo</span>
                    </div>
                </div>


                <div class="username-container">
                    <h2 class="username">danizsp</h2>
                </div>

                <div class="bio">
                    <p>Quem não gosta de pesca?</p>
                </div>

                <div class="botoes-acao">
                    <!-- <button class="btn-seguir" onclick="toggleSeguir()">
                        <span class="material-symbols-outlined">person_add</span>
                        <span class="btn-text">Seguir</span>
                    </button> -->
                    <button class="btn-publicar" onclick="publicar()">
                        <span class="material-symbols-outlined">add_box</span>
                        <span class="btn-text">Publicar</span>
                    </button>
                </div>

                <div class="publicacao-horizontal">
                    <img src="https://i.redd.it/ogf828rm6noe1.jpeg" alt="Publicação 1" class="foto-horizontal">
                    <div class="info-direita">
                        <div class="data-publicacao">Postado em 12/04/2025 às 18:30</div>
                        <div class="comentario">Que dia incrível de pesca!</div>
                        <div class="local">São Paulo, Brasil</div>
                        <div class="avaliacao">★★★★★</div>

                        <div class="interacoes">
                            <button class="btn-interacao">
                                <span class="material-symbols-outlined">thumb_up</span> 42
                            </button>
                            <button class="btn-interacao">
                                <span class="material-symbols-outlined">comment</span> 8
                            </button>
                            <button class="btn-interacao">
                                <span class="material-symbols-outlined">share</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="publicacao-horizontal">
                    <img src="https://pm1.aminoapps.com/7454/c05eba73774e2863e36f4ee18b17797ca0057556r1-1280-720v2_hq.jpg" alt="Publicação 2" class="foto-horizontal">
                    <div class="info-direita">
                        <div class="data-publicacao">Postado em 12/04/2025 às 14:30</div>
                        <div class="comentario">Lugar top pra pescar com os amigos!</div>
                        <div class="local">Rio de Janeiro, Brasil</div>
                        <div class="avaliacao">★★★★☆</div>

                        <div class="interacoes">
                            <button class="btn-interacao">
                                <span class="material-symbols-outlined">thumb_up</span> 58
                            </button>
                            <button class="btn-interacao">
                                <span class="material-symbols-outlined">comment</span> 11
                            </button>
                            <button class="btn-interacao">
                                <span class="material-symbols-outlined">share</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <script src="../Javascript/perfil.js"></script>
            <script src="../Javascript/script.js"></script>

            <!-- Rodapé -->
            <footer>
                <div class="footer-container">
                    <div>
                        <h3>Sobre Nós</h3>
                        <p>Grupo de estudantes dedicados ao desenvolvimento de iniciativas voltadas à melhoria do trabalho socioeconômico em Matão-SP e região.</p>
                    </div>
                    <div>
                        <h3>Links Úteis</h3>
                        <a asp-controller="Home" asp-action="Home">Página Inicial</a>
                        <a asp-controller="Home" asp-action="Pesquisar">Pesquisa de Locais</a>
                        <a asp-controller="Home" asp-action="MelhoresLocais">Melhores locais</a>
                        <a asp-controller="Home" asp-action="Notificacao">Notificações</a>
                        <a asp-controller="Home" asp-action="SobreNos">Sobre nós</a>
                        <a asp-controller="Home" asp-action="Perfil">Perfil</a>
                    </div>
                    <div>
                        <h3>Contato</h3>
                        <p>Email: pesquefale@gmail.com</p>
                    </div>
                </div>
                <p class="copyright">&copy; Pesque & Fale 2025 - Todos os direitos reservados.</p>
            </footer>
        </div>
        <script src="~/js/menu.js"></script>
        <script src="~/js/notificacao.js" defer></script>
</body>
</html>
